<html>
<head>
    <title>Shopping Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/site.css"/>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ubermelon
            <img src="/static/img/ubermelon-logo.png" alt="" width="30" height="24">
            </a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-link" href="/cart"> <img class="melon-cart" src="/static/img/watermelon.png">My Melon Cart</a>
                    <a class="nav-link" href="#">Log In</a>
                </div>
            </div>
        </div>
    </nav>

<div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>

</body>
</html>
