<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Ubermelon. Melons when you want them.</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <img src="/static/img/ubermelon-logo.png">

        <h1>Ubermelon.</h1>

        <p class="lead">Melons when you want them.</p>

        <a href="/melons" class="btn btn-lg btn-primary">Shop Now</a>

    </div>
</div>

<footer>
    <p>Copyright Ubermelon 2021. All rights reserved.</p>
</footer>

</body>
</html>
